Judicator/src/java/de/voelkman/config/dtd/languages.dtd

<?xml version='1.0' encoding="ISO-8859-1"?>
<!ELEMENT dialect
   (language+)
>
<!ATTLIST dialect
name CDATA #REQUIRED
>

<!ELEMENT family
   (dialect+)
>


<!ATTLIST family
difficulty CDATA #IMPLIED
>


<!ATTLIST family
name CDATA #REQUIRED
>
<!ELEMENT language
   (#PCDATA)
>
<!ELEMENT languages
   (family+)
>
